@font-face {
  font-family: 'Spoqa Han Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./SpoqaHanSansNeo-Light.woff') format('woff');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-style: normal;
  font-weight: 900;
  src: url('./SpoqaHanSansNeo-Bold.woff') format('woff');
}
